<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
	<acl>
		<resources>
			<resource id="Magento_Backend::admin">
				<resource id="Neosoft_Homepage::Sliders" sortOrder="10" title="Sliders">
					<resource id="Neosoft_Homepage::Sliders_save" sortOrder="10" title="Save Sliders"/>
					<resource id="Neosoft_Homepage::Sliders_delete" sortOrder="20" title="Delete Sliders"/>
					<resource id="Neosoft_Homepage::Sliders_update" sortOrder="30" title="Update Sliders"/>
					<resource id="Neosoft_Homepage::Sliders_view" sortOrder="40" title="View Sliders"/>
				</resource>
				<resource id="Neosoft_Homepage::Banner" sortOrder="10" title="Banner">
					<resource id="Neosoft_Homepage::Banner_save" sortOrder="10" title="Save Banner"/>
					<resource id="Neosoft_Homepage::Banner_delete" sortOrder="20" title="Delete Banner"/>
					<resource id="Neosoft_Homepage::Banner_update" sortOrder="30" title="Update Banner"/>
					<resource id="Neosoft_Homepage::Banner_view" sortOrder="40" title="View Banner"/>
				</resource>
			</resource>
		</resources>
	</acl>
</config>
