<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
	<default>
		<homepage>
			<general>
				<slideron>1</slideron>
				<banneron>1</banneron>
				<sliderspeed>2000</sliderspeed>
			</general>
		</homepage>
	</default>
</config>